.queroDoar {
  height: 100vh;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 20px;
  }
  .container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    form {
      border: solid 3px rgba(0, 86, 149, 1);
      box-shadow: 2px 2px 2px 1px rgba(5, 5, 26, 0.2);
      width: 25vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 15px;
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #005695;
        input {
          width: 90%;
          height: 5vh;
          border: solid 2px #005695;
          border-radius: 10px;
          box-shadow: inset 2px 2px 2px 1px rgba(5, 5, 26, 0.2);
          outline: none;
          padding-left: 20px;
          margin-bottom: 20px;
          &::placeholder {
            color: black;
          }
        }

        .doar {
          background-color: #005695;
          width: 10vw;
          height: 6vh;
          padding-left: 0;
          margin-top: 20px;
          color: white;
          font-size: 20px;
          border-radius: 10px;
          box-shadow: 2px 2px 2px 1px rgba(5, 5, 26, 0.2);
        }
      }
    }
  }
}
