.queroDoar {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  h2{
    text-align: center;
  }
}

form {
  border: solid 2px #005695;
  width: 355px; 
  height: 420px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #005695;
  }
  input {
    width: 330px; 
    height: 35px; 
    border: solid 2px #005695;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    &::placeholder {
      color: black;
    }
  }
}
input:nth-child(6) {
  background-color: #005695;
  width: 150px; 
  height: 40px; 
  padding-left: 0;
  color: white;
  font-size: 17px;
}

