.banner {
  background: url("../../assets/img/imagemG.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 88vh;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  h2 {
    width: 27vw;
    margin-left: 150px;
    font-size: 40px;
  }
}
.devoDoar {
  height: 80vh;
  div {
    height: 15vh;
    display: flex;
    align-items: center;
    h2 {
      font-size: 30px;
      color: rgba(0, 86, 149, 1);
      margin-left: 60px;
    }
  }
}

.boxCard {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  article {
    width: 20%;
    height: 80%;
    background-color: rgba(1, 87, 148, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #94a6b3;
    p {
      width: 70%;
      font-size: 18px;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    background-size: cover;
  }
  .boxCard {
    article {
      p {
        font-size: 1.4vw;
      }
    }
  }
}
@media (max-width: 860px) {
  .banner {
    background-position: center;
  }
  .boxCard {
    article {
      width: 22%;
      p {
        font-size: 1.6vw;
      }
    }
  }
}

@media (max-width: 760px) {
  .banner {
    justify-content: center;
    h2 {
      width: 80%;
      margin-left: 0;
      text-align: center;
    }
  }
  .devoDoar {
    height: auto;
    div {
      justify-content: center;
      h2 {
        margin-left: 0;
      }
    }
  }
  .boxCard {
    flex-wrap: wrap;
    gap: 10px;
    height: 80vh;
    article {
      width: 230px;
      height: 38vh;
      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 477px) {
  .boxCard {
    height: auto;
    margin-bottom: 10px;
  }
}
