.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 27, 47, 1) 0%,
    rgba(0, 86, 149, 1) 88%
  );
}

.logoHeader {
  display: flex;
  width: 23vw;
  height: 14vh;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.navHeader {
  width: 35vw;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    a {
      color: #fff;
    }
  }
}

.barraDeBusca {
  border: solid 2px#fff;
  border-radius: 15px;
  margin-right: 20px;
  width: 17vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    width: 12vw;
    &::placeholder {
      color: #fff;
    }
  }
}
@media (max-width: 1170px) {
  .logoHeader {
    width: 25vw;
    h1 {
      font-size: 2vw;
    }
    img {
      width: 5vw;
    }
  }
  .barraDeBusca {
    Input {
      &::placeholder {
        font-size: 1vw;
      }
    }
  }
  .navHeader {
    ul {
      font-size: 1.6vw;
    }
  }

  @media (max-width: 780px) {
    header {
      flex-direction: column;
      height: 25vh;
      justify-content: space-evenly;
    }
    .barraDeBusca {
      display: none;
    }
    .logoHeader {
      width: 80%;
      h1 {
        font-size: 25px;
      }
      img {
        width: 60px;
      }
    }
    .navHeader {
      width: 100%;
      ul {
        justify-content: space-evenly;
        font-size: 21px;
      }
    }
  }
}
