.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(0, 27, 47, 1) 0%,
    rgba(0, 86, 149, 1) 88%
  );
}

.logoHeader {
  display: flex;
  width: 28vw;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  img {
    width: 20%;
  }
  h1 {
    font-size: 30px;
    color: #fff;
  }
}

.navHeader {
  width: 35vw;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
}

.barraDeBusca {
  border: solid 2px#fff;
  border-radius: 15px;
  margin-right: 20px;
  width: 17vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    background-color: transparent;
    outline: none;
    border: none;
    &::placeholder {
      color: #fff;
      font-size: 15px;
    }
  }
}
