footer {
  color: rgba(255, 255, 255, 0.86);

  .boxSocial {
    background-color: rgba(0, 86, 149, 1);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    h3 {
      margin-left: 50px;
      font-size: 16px;
      font-weight: bold;
    }
    nav {
      width: 18vw;
      //margin-right: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .boxCredits {
    background-color: rgba(35, 32, 32, 1);
    height: 9.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 18px;
    }
  }
}
