.boxDoados {
  //height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin-bottom: 30px;
  h2 {
    margin: 30px;
  }
}
.boxLivros {
  width: 100%;
  //height: 60vh;
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;

  article {
    border: solid 2px rgba(0, 86, 149, 1);
    border-radius: 15px;
    width: 230px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 15px;
    img {
      width: 30%;
    }
  }
}
@media (max-width: 768px) {
  .boxDoados {
    height: 110vh;
    padding: 20px;
  }
  .boxLivros {
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    article {
      width: 180px;
      font-size: 15px;
    }
  }
}

@media (max-width: 360px) {
  .boxDoados {
    height: 200vh;
  }
  .boxLivros {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    article {
      width: 90%;
      font-size: 12px;
    }
  }
}
