.boxDoados {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .boxLivros {
    width: 85vw;
    height: 60vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
    article {
      border: solid 2px rgba(0, 86, 149, 1);
      border-radius: 15px;
      width: 15vw;
      height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      img {
        width: 7vw;
        margin-bottom: 10px;
      }
    }
  }
}
